<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/profile_new.css" type="text/css"/>
    </head>
    
    <body>
	
    <div class="matryoshka1">
    <div class="profile">
        <header>
            <img id="logo" src="images/passages/pointing-hand-icon.png">
            <h1>Passages, Inc.</h1>
            <h5>We know you better than you do!</h5>
        </header>
	    <div class="matryoshka2 right-col"> 
            <img class="ad-horiz" id="horiz-top" src="images/passages/bear1.png" />
            <img class="ad-horiz" id="horiz-middle" src="images/passages/alone.png"/>
            <img class="ad-horiz" id="horiz-bottom" src="images/passages/bear2.png"/>
        </div>
        <div class="matryoshka2 middle-col">
            <img id="profilePic" src="images/passages/profilePics/alli.jpg">

            <span id="profileName"><h1 id="name">Stranger</h1></span>
            <p id=profileMessage></p>
        
        </div>      
        <div class="matryoshka2 left-col">
            <img id="ad-vert" src="images/passages/elvis.png"/>
        </div>
       
		        
      
                  
    
            
	</div>
        
    </div>    
      
    <script>
        var messageArray = ["Minimalist through and through.", "I'm not necessarily introverted, but I'm definitely not extroverted!", "I just want to fall completely in love with someone, someday.", "The best art is the world is by Van Gogh.", "I totally love my Pinterest.", "Heaven on Earth is Fashion Week.", "22 yo fashion designer, Artist & #entrepreneur", "My aesthetic values are just as adventurous as I am.", "Life's too short to wear anything that doesn't make my eyes pop!"];

        /*var imgArray = {{data|safe|default("[]")}};*/
        var imgArray = ["Tom fromMyspace.jpg", "alli.jpg", "Tiffany.jpg", "Melaney.jpg", "Georgia.jpg", "Gabriel.jpg","Captain Joe Cool.jpg", "amber.jpg"]

        var vertAds = ["elvis.png","fart.png","pad.png","ps.png","ps2.png", "psbf.png", "psgf.png", "smokes.png","spam.png","water.png"];
        
        var messageIndex = 0;
        var imgIndex = 0;
        var adV = 0;
        var adH = 0;
        
        
        function changeVerticalAds()
        {
            //shuffle(vertAds);
            if (adV >= vertAds.length) 
                adV = 0;
            var fresh = vertAds[adV];
            var ad = document.getElementById("ad-vert");
            ad.src = "images/passages/" + fresh;

            adV++;
        }
        

        function changeNameAndImage() 
        {
            //shuffle(imgArray);
            if (imgIndex >= imgArray.length) 
                imgIndex = 0;
                var newImgName = imgArray[imgIndex];
            var strLen = newImgName.length;
            var imgElement = document.getElementById("profilePic");
            var nameElement = document.getElementById("name");
            imgElement.src = "images/passages/profilePics/" +newImgName;
            nameElement.innerHTML = newImgName.substr(0, strLen-4)

            imgIndex++;
        }

        function changeMessage() 
        {
            //shuffle(messageArray);
            // grab the message and change it.
            if (messageIndex >= messageArray.length) 
                messageIndex = 0;
                var newMessage = messageArray[messageIndex];
            var messageElement = document.getElementById("profileMessage");
            messageElement.innerHTML = newMessage;
            messageIndex++;	
        }

        window.onload = function() 
        {
            setInterval(changeMessage,7500);
            setInterval(changeNameAndImage,7500);
            setInterval(changeVerticalAds, 7500);
            setInterval(function() {window.location.reload(true);}, 1000000);

        };
    </script>
    </body>
    
</html>